<div class="app"> 
  <%= render 'shared/wrangler_header', grouped: "Type", group_by: "owner", view_link: orgs_path %>
  <div class="app-group">
    <% @apps.each do |app| %>
      <p><strong><%= app.name %></strong></p>
    <% end %>
  </div>
</div>
