<div class="app">
  <div class="app-card">
    <h1>API Rate Limit Check</h1>
    <p class="app-count"><span class="rate-limit"><%= @remaining %></span> out of 2400 requests per hour remaining</p>
    <p class="app-btn"><%= link_to "Go To App List", "/", class: 'btn' %></p>
  </div>
</div>