<form id="target-theme-form">
  <label for="target-theme">Web Theme Search:</label>
  <input type="text" name="target-theme" id="target-theme" value="" placeholder="Enter Theme name or slug here">
  <input type="submit" name="target-theme-submit" id="target-theme-submit" class="btn" value="Find Themes">
</form>
<form id="target-widget-form">
  <label for="target-widget">Widget Search:</label>
  <input type="text" name="target-widget" id="target-widget" value="" placeholder="Enter Widget name or slug here">
  <input type="submit" name="target-widget-submit" id="target-widget-submit" class="btn" value="Find Widgets">
</form>
<form id="target-status-form">
  <label for="target-status">Status Search:</label>
  <select name="target-status" id="target-status">
    <option value="">[select a status]</option>
    <option value="Live">Live</option>
    <option value="Pending">Pending</option>
    <option value="Suspended">Suspended</option>
    <option value="No Deploy">No Deploy</option>
    <option value="Deleted">Deleted</option>
  </select>
  <input type="submit" name="target-status-submit" id="target-status-submit" class="btn" value="Find Status">
</form>