<fieldset id="cms-search-results">
  <legend>Search Results</legend>
  <div class="results-percentage">
    <div class="percentage-sent"></div>
    <div class="percentage-returned"></div>
  </div>
  <div class="results-count">
    <div class="results-stats clients-found"><label>Matching Clients:</label> <span>...</span></div>
    <div class="results-stats locations-found"><label>Matching Locations:</label> <span>...</span></div>
    <div class="results-stats pages-found"><label>Matching Pages:</label> <span>...</span></div>
  </div>
</fieldset>