<div class="app orgs">
  <%= render 'shared/wrangler_header', object: {grouped: "Owner", group_by: "type", view_link: apps_path} %>
  <%= master_version_inputs %>
  <div class="app-group">
    <%= render_org_groups(@data) %>
  </div>
</div>
