<div class="app orgs">
  <%= render 'shared/wrangler_header', grouped: "Owner", group_by: "type", view_link: app_types_path %>
  <%= AppVersions.master_version_inputs %>

  <div class="app-group">
    <% @organizations.each do |o| %>
      <% if o.apps.present? %>
        <%= link_to org_path(o), class: "app-title", id: o.name do %>
          <%= render 'summary', organization: o %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
