// Bitters 1.0.0
// http://bitters.bourbon.io
// Copyright 2013-2015 thoughtbot, inc.
// MIT License

@import "variables";

// Neat Settings -- uncomment if using Neat -- must be imported before Neat
@import "grid-settings";

@import "buttons";
@import "forms";
@import "lists";
@import "tables";
@import "typography";
@import "grid_items";
@import "accordian";
.counter {
  color:#fde396;
}

.master-value-show {
  color:#e74c3c;
}

.live-summary-link {
  float:right;
  display: block;
  margin-top: -30px;
  background:#7f8c8d;
  color:#ffffff;
  padding:5px;
  border-radius:10px;
  &:hover {
    background:#bdc3c7;
  }
}
