%default {
  @include box-shadow(none);
}

%hover {
  @include box-shadow(0 0 1px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.2));
}

%focus {
  @include box-shadow(0 0 2px rgba(0,0,0,0.4), 0 2px 2px rgba(0,0,0,0.4));
}

// --LAYOUT-- //
.container{
  width:75%;
  margin:0 auto;
  padding:30px 0;
}

.header{
  @include span-columns(12 of 12);
  margin-bottom: 20px;
}

hr {
  clear:both;
}

.logo{
  @include span-columns(4 of 12);
}

// --MODULE-- //
//App
.app{
  clear: both;
  @include span-columns(12 of 12);
  @include pad(14px 18px);
}

.app-card{
  @include span-columns(12 of 12);
  background-color: $color3;
  color: $color1;
  @include omega();
  @include pad(8px 8px 0);
  border-left: 8px solid $color2;
  h1{
    color: $color5;
    font-size: em(18);
  }
}

.app-count{
  font-size: em(18);
  font-weight: bold;
  font-style: italic;
  @include span-columns(6 of 12)
}

.app-btn{
  float: right;
  @include vert-align;
}

.app-group-list {
  @include span-columns(12 of 12);
  @include pad(8px 8px 0);
  margin: 8px auto;
  ul {
    li {
      float: left;
      display: inline-block;
      margin-right: em(10);
    }
  }
}

.app-group{
  @include span-columns(12 of 12);

  .app-title{
    position: relative;
    display: block;
    background-color: $color5;
    color: $color1;
    width: 100%;
    padding: 12px;
    margin: 1em 0 0 0;
    text-transform: capitalize;
    cursor: pointer;
    @include transition(200ms all ease-in-out);
    .app-name { text-transform: uppercase; }
    &:before {
      @include transition(200ms all ease-in-out);
      position: relative;
      content: '';
      display: block;
      float: left;
      margin-right: 1em;
      @include triangle(18px, $color1, right);
    }
    &:hover {
      background-color: darken($color5, 10%);
      @extend %hover;
    }
    &.show {
      background-color: lighten($color5, 10%);
      &:before {
        @include transform(rotate(90deg));
      }
    }
  }

  .app-name {
    display: inline-block;
    min-width: 280px;
  }

  .heroku-dashboard, .heroku-app {
    display: inline-block;
    padding: 0 10px;
  }

  .heroku-dashboard {
    border-right: 1px solid $color5;
  }

  ul.app-list {
    position: relative;
    display: block;
    margin: 0;
    border: 1px solid $color5;
    max-height: 0;
    opacity: 0;
    overflow:hidden;
    @include transition(400ms all ease-in-out);
    li {
      display: block;
      position: relative;
      height: auto;
      opacity: 1;
      padding: 0px 10px 0px 38px;
      border-bottom: 1px solid $base-border-color;
      @include clearfix;
      @include transition(400ms all ease-in-out);
      span, a {
        vertical-align:top;
      }
      &:hover {
        background-color: $color2;
      }
      .search-results {
        float: right;
        width: 50%;
      }
      &.found {
        background-color: lighten($c-green, 55%);
      }
      &.not-found {
        opacity: 0;
        height: 0;
        display: none;
      }
    }
    &.show {
      opacity: 1;
      max-height: 9999em;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .app-dyno-alert {
    background:#f39c12;
  }
  hr {
    margin:0;
  }
}

.rate-limit{ color: $color5; }



//Wrangle
.wrangle{
  @include span-columns(7 of 12);
  @include pad(12px 10px 0 0);
}

.wrangle-logo{
  display: block;
}

.wrangle-description{
  float: right;
  color: $color4;
}

.wrangle-about{
  @include span-columns(6 of 12);
}

.version-refresh {
  float: right;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin: 0 2px;
  img {
    opacity: 1.0;
    margin: 3px 4px 5px 4px;
    width: 16px;
    height: 16px;
    @include transition(200ms all ease-in-out);
  }
  &:hover {
    img {
      @include transform(rotate(180deg));
      opacity: 0.7;
    }
  }
}


.version, .search-results {
  float: right;
  .ahead {
    color: $c-blue;
  }
  .behind {
    color: $c-red;
  }
  .current {
    color: $c-green;
  }
  .error {
    color: $c-red;
  }
  .success {
    color: $c-green;
    a {
      color: $c-green;
      &:hover {
        color: darken($c-green, 10%);
      }
    }
  }
}

.table-minimal {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $table-border-color: $base-border-color;
  $table-border: 1px solid $table-border-color;
  $table-background: $base-background-color;
  $table-header-background: lighten($table-background, 10);
  $table-hover-background: darken($table-background, 2);
  $table-stripe-background: darken($table-background, 4);
  $table-stripe-background-hover: darken($table-stripe-background, 5);
  $table-padding: .75em 1em;

  border-collapse: separate;
  border-spacing: 0;
  width: 100%;

  tbody {
    tr:hover > td, tr:hover > th {
      background-color: $table-hover-background;
    }
    tr:first-child td {
      border-top: 2px solid $table-border-color;
    }
  }

  thead {
    th {
      background-color: $table-header-background;
      border-bottom: 0px;
      padding: $table-padding;
      text-align: left;
    }
  }

  tbody {
    background-color: $table-background;

    td {
      border-bottom: 0px;
      border-top: 1px solid $table-border-color;
      line-height: $base-line-height;
      padding: $table-padding;

      button {
        display: inline-block;
        font-size: .7em;
        line-height: $base-line-height;
        margin-bottom: .3em;
        margin-right: 0.5em;
        outline: none;
        padding: .3em 1em;
        width: 100%;

        @include media($medium-screen) {
          margin-bottom: 0;
          width: auto;
        }
      }
    }
  }
  table-layout: auto;
}

.dynos {
  width:31%;
  margin-left:15%;
  display:inline-block;
  section {
    display:inline-block;
  }
}

.fa {
  &.unhealthy {
    color: $c-red;
  }

  &.healthy {
    color: $c-gray;
  }
}


// MQ
@include media($single-column){
  .logo, .header,
  .app, .app-card, .app-count, .app-group,
  .wrangle, .wrangle-about{
    @include span-columns(1 of 1);
  }

  .header{
    //@include margin(14px 18px);
    margin: 14px 18px;
  }
}

.cms {
  margin-bottom: 20px;
  @include clearfix;
  form {
    width: 48%;
    margin: 1%;
    float: left;
    display: block;
    position: relative;
  }
}

