//Variables
// $color1: #587b7f;
// $color2: #1e2019;
// $color3: #394032;
// $color4: #8dab7f;
// $color5: #cfee9e;

$color1: #fbfbf2;
$color2: #e5e6e4;
$color3: #cfd2cd;
$color4: #a6a2a2;
$color5: #847577;