<div class="app-card">
  <h1>Backup Manager</h1>
  <%= content_tag :p, "App data as of: #{Date.yesterday.to_formatted_s(:long_ordinal)} (this is just date yesterday)" %>
  <%= content_tag :p, "#{App.count} Heroku Apps" %>
</div>
