<div class="app-group"> 
  <h2>API check: <%= RateCheck.usage %></h2>
  <% @app_list.keys.each do |key| %>
    <h3 class="app-title"><%= key.upcase %></h3>
    <ul class="app-list">
      <% @app_list[key].each do |app| %>
        <li><%= app["name"] %></li>
      <% end %>
    </ul>
  <% end %>
</div>