<div class="app"> 
  <h2>rate check: <%= RateCheck.usage %></h2>
  <ul>
  <% @app_list.keys.each do |key| %>
    <br /><br />
    <h3><%= key %></h3>
    <ul>
      <% @app_list[key].each do |app| %>
        <li><%= app["name"] %></li>
      <% end %>
    </ul>
  <% end %>
  </ul>
</div>