<h1>Apps#index</h1>
<p>Find me in app/views/apps/index.html.erb</p>
<p>total: <%= @data.length %></p>

<% @data.each do |group| %>
  <h3><%= group[0] %></h3>
  <ul>
    <% group[1].each do |app| %>
      <li><%= app['name'] %></li>
    <% end %>
  </ul>
<% end %>

